<a href="https://colab.research.google.com/github/ann-macharia/PROJECT-WEEK-4/blob/master/Moringa_Data_Science__IP4_Ann_Macharis_Python_notebook_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

In [2]:
#reading the data from the CSV file, creating the dataframe to be used and previewing data set
#
A=pd.read_csv('/content/Autolib_dataset.csv')
df=pd.DataFrame(A)
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [3]:
#ACESSSING INFORMATION ABOUT OUR DATASET
print(df.shape)
df.info()

(5000, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
Displayed comment      111 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Scheduled at           47 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [4]:
#REMOVING OUTLIERS
Q3=df.quantile(0.75)
Q1=df.quantile(0.25)
IQR = Q3 - Q1
print(IQR)
print((df  < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR)))
dff= df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]
dff.shape

Cars                      4.0
Bluecar counter           4.0
Utilib counter            0.0
Utilib 1.4 counter        0.0
Charge Slots              0.0
Postal code           17308.0
Slots                     3.0
year                      0.0
month                     0.0
day                       4.0
hour                     12.0
minute                   30.0
dtype: float64
      Address  Bluecar counter   Cars  ...  minute  month   year
0       False            False  False  ...   False  False  False
1       False            False  False  ...   False  False  False
2       False            False  False  ...   False  False  False
3       False            False  False  ...   False  False  False
4       False            False  False  ...   False  False  False
...       ...              ...    ...  ...     ...    ...    ...
4995    False            False  False  ...   False  False  False
4996    False            False  False  ...   False  False  False
4997    False            False  False  ...   False  False  False
4998    False            False  False  ...   False  False  False
4999    False            False  False  ...   False  False  False

[5000 rows x 25 columns]

(3317, 25)

In [5]:
#MERGING DATES AND TIME
dff['Date'] = dff["year"].map(str) +':'+ dff["month"].map(str) +':'+ dff["day"].map(str)
dff.head()
dff['Time']=dff["hour"].map(str) +':'+ dff["minute"].map(str)
dff.head()
dff['Date_Time']= dff["Date"].map(str) +':'+ dff["Time"].map(str)
dff.head()
dff.drop(['year','month','day','minute','Date','Time'],axis=1,inplace=True)
dff.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                              Address  Cars  ...  hour       Date_Time
0                 2 Avenue de Suffren     0  ...    11  2018:4:8:11:43
1           145 Rue Raymond Losserand     6  ...     7   2018:4:6:7:24
4  6 avenue de la Porte de Champerret     3  ...    17  2018:4:8:17:23
5                8 Boulevard Voltaire     0  ...     7    2018:4:6:7:2
6                      37 rue Leblanc     0  ...    18  2018:4:8:18:20

[5 rows x 22 columns]

**DATA** **ANALYSIS**

In [6]:
#OBTAINING DATA WHERE CITY IS PARIS AND CAR TYPE IS 'BLUECAR'
df1=dff[(dff['City']=='Paris') & (dff['Bluecar counter']!=0)]
df1.head()

                               Address  Cars  ...  hour       Date_Time
1            145 Rue Raymond Losserand     6  ...     7   2018:4:6:7:24
4   6 avenue de la Porte de Champerret     3  ...    17  2018:4:8:17:23
8                34 avenue Jean Moulin     1  ...    22  2018:4:2:22:58
9         41 boulevard de Rochechouart     6  ...    15   2018:4:4:15:2
17              182 Boulevard Voltaire     6  ...    12  2018:4:9:12:14

[5 rows x 22 columns]

In [7]:
#SORTING VALUES BY Date_Time and grouping by station ID and 
df2=df1.sort_values(['Date_Time']).groupby(['ID','Date_Time']).sum()
df2.head(10)

                                     Cars  Bluecar counter  ...  Slots  hour
ID                   Date_Time                              ...
paris-25aout1944-8   2018:4:1:18:40     1                1  ...      2    18
                     2018:4:2:12:49     2                2  ...      1    12
                     2018:4:2:7:37      4                4  ...      0     7
                     2018:4:4:18:48     1                1  ...      1    18
                     2018:4:4:3:10      3                3  ...      0     3
paris-adolphemax-6   2018:4:2:11:1      4                4  ...      0    11
paris-adolphemille-8 2018:4:1:1:53      1                1  ...      1     1
                     2018:4:3:12:25     2                2  ...      1    12
                     2018:4:3:21:53     4                4  ...      0    21
paris-adolpheyvon-6  2018:4:2:14:15     5                5  ...      0    14

[10 rows x 8 columns]

In [45]:
# CREATING A NEW COLUMN DIFF WHICH INDICATES CAR PICKUP OR CAR RETURN. NEGATIVE NUMBERS INDICATE 
#CAR RETURN, POSITIVE NUMBERS INDICATE CAR PICKUPS
df2['diff'] = df2.groupby(['ID'])['Bluecar counter'].apply(lambda x:  x.shift(1) - x)
df2['diff']
df2.head(10)

                                     Cars  Bluecar counter  ...  hour  diff
ID                   Date_Time                              ...
paris-25aout1944-8   2018:4:1:18:40     1                1  ...    18   NaN
                     2018:4:2:12:49     2                2  ...    12  -1.0
                     2018:4:2:7:37      4                4  ...     7  -2.0
                     2018:4:4:18:48     1                1  ...    18   3.0
                     2018:4:4:3:10      3                3  ...     3  -2.0
paris-adolphemax-6   2018:4:2:11:1      4                4  ...    11   NaN
paris-adolphemille-8 2018:4:1:1:53      1                1  ...     1   NaN
                     2018:4:3:12:25     2                2  ...    12  -1.0
                     2018:4:3:21:53     4                4  ...    21  -2.0
paris-adolpheyvon-6  2018:4:2:14:15     5                5  ...    14   NaN

[10 rows x 9 columns]

QUESTION 1

In [43]:
#IDENTIFY MOSTPOPULAR HOUR FOR RETURNING THE CARS
df2[(df2['diff'] > 0)].groupby(['hour'])['diff'].sum().sort_values(ascending = False).head(1)
 
#HOUR 21 HAS MOST BLUE CAR PICKUPS

hour
21    31.0
Name: diff, dtype: float64

QUESTION 2

In [42]:
#MOST POPULAR HOUR FOR RETURNING THE CARS.
df2[(df2['diff'] < 0)].groupby(['hour'])['diff'].sum().sort_values(ascending = True).head(1)
 
#HOUR TWO IS MOST POPULAR FOR RETURNING THE CAR

hour
2   -31.0
Name: diff, dtype: float64

QUESTION 3.1

In [53]:
#MOST POPULAR STATION OVERALL
df2['diff']=df2['diff'].abs()
df2.head()
df2.groupby('ID')['diff'].sum().sort_values(ascending=False).head(1)

ID
paris-raymondpitet-7    11.0
Name: diff, dtype: float64

QUESTION 3.2

In [69]:
# MOST POPULAR STATION FOR PICKING CARS AT MOST POPULAR HOUR
df2[(df2['diff'] > 0) & (df2['hour']==21)].groupby(['hour','ID'])['diff'].sum().sort_values(ascending = False).head(1)

hour  ID
21    paris-saintmande-94    4.0
Name: diff, dtype: float64

QUESTION 4.1

In [73]:
#MOST POPULAR POSTAL CODE FOR PICKING UP BLUE CARS
df2[(df2['diff'] > 0)].groupby(['ID','Postal code'])['diff'].sum().sort_values(ascending = False).head(1)

ID                    Postal code
paris-raymondpitet-7  75017          11.0
Name: diff, dtype: float64

QUESTION 4.2

In [0]:
# DOES THE OVERALL MOST POPULAR STATION BELONG TO THAT POSTAL CODE 
 #YES IT DOES

QUESTION 4.3

In [0]:
# DOES THE MOST POPULAR STATION AT THE MOST POPULAR PICKING HOUR BELONG TO THAT POSTAL CODE?
 #NO IT DOESN'T

QUESTION 5

In [81]:
#CONSIDERING THE UTILIB.
df3=dff[(dff['City']=='Paris') & (dff['Utilib counter']!=0)]
df3

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, hour, Date_Time]
Index: []

QUESTION 6

In [82]:
#CONSIDERING THE UTILIB 1.4
df4=dff[(dff['City']=='Paris') & (dff['Utilib 1.4 counter']!=0)]
df4

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, hour, Date_Time]
Index: []